.floor-map-container {
  position: relative;

  background-image: url('nre2floor.png');
  background-size: contain; /* This will make sure the image is fully visible but might not cover the whole container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: right; /* Centers the image in the container */
  border: 5px solid black;
}
